@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0c0810;
  --font-fustat: var(--font-fustat);
  --font-mono: var(--font-roboto-mono);

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0810;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fustat);
}